repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-xml
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        exclude: /kalman/
        additional_dependencies: ['types-pycurl']
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.0
    hooks:
      - id: flake8
        exclude: /kalman/
        args:
          - --select=F
  - repo: local
    hooks:
      - id: pylint
        exclude: /kalman/
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          - --disable=R,E,I,C,W
